.aboutContainer {
    position: relative;
    color: white;
    z-index: 1;
    display: flex;
    padding: 5rem;
}

.aboutContainer::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('../../../public/assets/img/servicesImg.png');
    background-size: cover;
    z-index: -1;
}

.imgWrapper {
    position: relative;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.textWrapper {
    flex: 1;
    padding: 5rem;
}
.textWrapper h1 {
    font-size: 60px;
    background: linear-gradient(30deg, #bb00ff, #73ff00);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
}

.text {
    font-size: 25px;
}

@media (max-width: 1500px) {
    .img {
        width: 500px;
        height: auto;
    }
}

@media (max-width: 1200px) {
    .text {
        font-size: 20px;
    }
}

@media (max-width: 1200px) {
    .text {
        font-size: 20px;
    }
    .textWrapper {
        padding: 2rem;
    }
}

@media (max-width: 1110px) {
    .img {
        width: 400px;
    }
}

@media (max-width: 960px) {
    .aboutContainer {
        flex-direction: column;
    }
}

@media (max-width: 500px) {
    .img {
        width: 300px;
    }
    .textWrapper h1 {
        font-size: 40px;;
    }
    .textWrapper {
        padding: 0;
    }
}
/* .text span {
    color: #bb00ff;
    font-weight: bold;
} */