.container {
    /* background-color: rgba(5, 22, 18, 0.9); */
    left: 0;
    max-height: 96px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
    color: #ddd6cb;
    display: flex;
}

.black {
    background-color: black;
    max-height: fit-content;
    transition: all 2s;
}