.icons, .logo {
    display: inline-block;
}

.icons:hover {
    cursor: pointer;
}

.burgerMenu {
    display: none;
}

@media (max-width: 768px) {
    .burgerMenu {
        display: inline-block;
    }
    .logo {
        display: none;
    }
}

.linesContainer {
    margin-top: 0.5rem;
}

.linesContainer div {
    border-bottom: 1px solid #73ff00;
    width: 30px;
    height: 10px;
    margin-left: 1rem;
}

.crossLineOne {
    transform: rotate(0.14turn) translate(10.5px, 55%);
    transition: transform 1s;
}

.crossLineTwo {
    transform: rotate(-0.14turn) translate(-5px, -40%);
    transition: transform 1s;
}