.serviceContainer {
    min-height: 100vh;
    position: relative;
}

.serviceContainer::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('../../../public/assets/img/servicesImg.png');
    background-size: cover;
    z-index: -1;
}

.transitional {
    height: 5rem;
    width: 100%;
    background: rgb(0,5,3);
    background: linear-gradient(180deg, rgba(0,5,3,1) 34%, rgba(15,15,17,1) 68%);
}

.servicesDesc {
    position: absolute;
    left: 0;
    top: 20%;
    color: white;
    padding-left: 3rem;
    padding-right: 3rem;
    display: flex;
}

.servicesDesc p {
    font-size: 60px;
    font-weight: bold;
    background: linear-gradient(90deg, #bb00ff, #73ff00);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width: 40rem;
}

.itemsContainer {
    display: flex;
    flex-wrap: wrap;
}
/* //adjusting width */
@media (max-width: 1200px) {
    .servicesDesc {
        flex-direction: column;
    }
    .servicesDesc p {
        font-size: 30px;
    }
}

@media (max-width: 875px) {
    .servicesDesc p {
        width: 100%;
    }
    .itemsContainer {
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .servicesDesc {
        right: 3%;
    }
}
/* // adjusting height */
@media (max-height: 640px) {
    .serviceContainer {
        height: 150vh;
    }
    .servicesDesc p {
        margin: 0;
    }
    
}

@media (max-height: 875px) {
    .servicesDesc {
        top: 10%;
    }
}

@media (max-height: 400px) {
    .servicesDesc {
        top: 1%;
    }
}