.contactDetailsContainer {
    display: flex;
    gap: 1rem;
    justify-content: center;
    flex-wrap: wrap;
    text-decoration: none;
    padding: 0 2rem 2rem 2rem;
}

.contactDetailsContainer li {
    display: flex;
    flex-direction: column;
    width: 20rem;
    background-color: rgb(61, 61, 61);
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    padding: 1rem;
}