.heroContainer {
    color: #ddd6cb;
    font-size: 60px;
    position: absolute;
    right: 10%;
    top: 30%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-left: 2rem;
}

.btnWrapper {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}

 /* 578 X 815 */

@media (max-width: 578px) {
    .heroContainer {
        font-size: 35px;
        margin-left: 0.5rem;
    }
    .btnWrapper {
        margin-top: 0;
    }
}

@media (max-height: 815px) {
    .heroContainer {
        font-size: 35px;
        margin-left: 0.5rem;
    }
    .btnWrapper {
        margin-top: 0;
    }
}

.solutions {
    font-weight: bold;
}

.needs {
    font-weight: 300;
}

.gradient {
    background: linear-gradient(90deg, #bb00ff, #73ff00);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}