.blogContainer {
    /* height: 100vh; */
    position: relative;
    color: #ddd6cb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
.blogContainer::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('../../../public/assets/img/blog-bg.png');
    background-size: cover;
    z-index: -1;
}
.blogContainer h1 {
    font-size: 60px;
    background: linear-gradient(90deg, #bb00ff, #73ff00);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.itemsWrapper {
    display: flex;
    flex-wrap: wrap;
}

@media (max-width: 1247px) {
    .itemsWrapper {
        justify-content: center;
        align-items: center;
    }
}
