.serviceLibraryContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
    width: 100%;
    background-color: #0F1012;
    color: white;
}

.contentWrapper, .imgWrapper {
    padding: 3rem;
    position: relative;
    flex: 1;
    height: 70vh;
    max-width: 900px;
}
.contentWrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.contentWrapper span {
    background: linear-gradient(90deg, #bb00ff, #73ff00);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 50px;
    font-weight: bold;
    line-height: 3rem;
}
.text {
    font-size: 20px;
}
.actions {
    margin-top: 3rem;
}

.actions button {
    border: 0;
    padding: 0.75rem 5rem;
    background: linear-gradient(30deg, #bb00ff, #73ff00);
    border: none;
    color: #ddd6cb;
    border-radius: 2px;
    cursor: pointer;
    font: inherit;
    font-size: 1.25rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.actions button:hover,
.actions button:focus {
    background: linear-gradient(30deg, #bb00ff, #73ff00);
}

.imgWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}


@media (max-width: 1650px) {
    .contentWrapper span {
        font-size: 40px;
    }
    .text {
        font-size: 16px;
    }
}

@media (max-width: 1230px) {
    .img {
        width: 400px;
        height: auto;
    }
}

@media (max-width: 1075px) {
    .serviceLibraryContainer {
        flex-direction: column;
    }
    .imgWrapper {
        margin-top: 1rem;
    }
}